body {
    font-family: Arial, sans-serif;
    margin: 40px;
    transition: 0.3s;
}

/* MODO CLARO */
body.claro {
    background-color: #f2f2f2;
    color: black;
}

/* MODO ESCURO */
body.escuro {
    background-color: #121212;
    color: white;
}

/* Container */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Container no modo escuro */
body.escuro .container {
    background-color: #1e1e1e;
}

/* Título */
h1 {
    color: #3399ff;
}

/* Links */
nav a {
    text-decoration: none;
    color: #3399ff;
    margin-right: 10px;
}

/* Inputs */
input {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* Inputs no modo escuro */
body.escuro input {
    background-color: #2d2d2d;
    color: white;
    border: 1px solid #555;
}

/* Botões */
button {
    padding: 8px 15px;
    background-color: #3399ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
footer {
    margin-top: 20px;
    color: gray;
}

/* Linha */
hr {
    margin: 20px 0;
}